---
name: Deploy

concurrency:
  group: queue

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

env:
  USERNAME: ${{ github.actor }}
  PASSWORD: ${{ secrets.GITHUB_TOKEN }}
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read
  packages: write


jobs:
  test_files:
    name: Test files
    runs-on: ubuntu-latest

    steps:
        - name: Checkout repository
          uses: actions/checkout@v6.0.2

        # check bash integrity
        - uses: ludeeus/action-shellcheck@2.0.0
          with:
            scandir: './docker'
            severity: warning
        # check dockerfile integrity
        - uses: hadolint/hadolint-action@v3.1.0
          with:
              dockerfile: ./docker/Dockerfile
        - uses: hadolint/hadolint-action@v3.1.0
          with:
              dockerfile: ./docker/Dockerfile_DEV
        # check compose.yml integrity
        - name: Lint docker-compose.yml
          run: |
            docker compose -f docker/docker-compose.yml config --quiet
            docker compose -f docker/docker-compose-DEV.yml config --quiet


  build:
    needs: test_files
    name: Build docker image
    runs-on: ubuntu-latest

    steps:
        - name: Checkout repository
          uses: actions/checkout@v6.0.2

        # Set up BuildKit Docker container builder to be able to build
        # multi-platform images and export cache
        # https://github.com/docker/setup-buildx-action
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3.12.0

        # Login against a Docker registry except on PR
        # https://github.com/docker/login-action
        - name: Log in to the Container registry
          if: github.event_name == 'push' && github.ref == 'refs/heads/main'
          uses: docker/login-action@v3.7.0
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ env.USERNAME }}
            password: ${{ env.PASSWORD }}

        # Extract metadata (tags, labels) for Docker
        # https://github.com/docker/metadata-action
        - name: Extract Docker metadata
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            tags: |
                type=raw,value=latest
                type=semver,pattern={{version}},prefix=v

        # Build and push Docker image with Buildx (don't push on PR)
        # https://github.com/docker/build-push-action
        - name: Build and push Docker image
          id: build-and-push
          uses: docker/build-push-action@v6.19.2
          with:
            context: ./docker
            file: ./docker/Dockerfile
            push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
            platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
            cache-from: type=gha
            cache-to: type=gha,mode=max